#ODesign {
font-family:Nanum Myeongjo, serif; 
text-align: center;
color: #FFFAF0;
}

header { 
color: #808080;
padding: 25px 50px;
background-color: #E6E6FA; 
}
body p{
font-family: Arial;
font-size: 20px;
}

.captions{
font-family:Nanum Myeongjo, serif;
font-size: 25px;

}


.header-buttons button {
           
            bottom: 20px;
            left: 20px;
            padding: 15px 25px;
            background-color: #800000;
            color: white;
            
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
    
    font-family: Arial;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 25px;
    background-color: #FFFFF0;
    color:#FFFAF0;
    border-bottom: 5px solid white;
    border-radius: 5px;
    position: fixed;


.header-buttons button {
   position: fixed;
   display: inline-block;
    
footer {
    font-family: Arial;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000000; 
}
.call-button {
    position: fixed;    /* Fixed position on the screen */
    bottom: 20px;       /* 20px from the bottom of the screen */
    left: 20px;         /* 20px from the left of the screen */
    padding: 10px 20px; /* Adjust padding for size */
    background-color: #800000; /* Green background color */
    color: white;       /* White text color */
    border: none;       /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;    /* Pointer on hover */
    font-size: 16px;    /* Font size */
}

.call-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
           
           
.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.gallery-container img {
    margin: 10px;
    max-width: 100%; /* Prevents images from overflowing the container */
}
ul li{
    font-family: Arial;
    font-size: 20px;
    color: #808080;
}
